# Dependencies
node_modules/
.yarn/
.pnp.*

# Build
build/
dist/
.wordpress-org-dist/

# Packaging
/ab-test-block.zip

# Local temp/debug
/.tmp-*

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# WordPress
*.log
.wp-env/
.wp-env.override.json
